html, body {
    margin: 0;
    padding: 0;
}

header {
    background-image: url("image/THJJRUhNlEc.png");
    background-color: black;
    height: 30vh;
    width: 100%;
    background-size: cover;
    background-position: center;
}

header > div {
    margin: 0;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 30px;
}

header > div > button {
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
    overflow: hidden;
}

.search-bar{
    display: flex;
    justify-content: center;
}

.search-bar > input,
.search-bar > button {
    margin: -30px;
    font-size: 30px;
    padding: 10px;
    border-radius: 10px;
}

.search-bar > input {
    width: 50%;
}

.movie-container,
.watchlist-container {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 5rem;
    width: 60%;
}

.movie,
.movie-name,
.movie-short-info {
    display: flex;
    flex-direction: row;
    margin: 0 10px;

}

.movie-name > p {
    display: flex;
    align-self: space-between;
}

.movie-short-info{
    justify-content: space-around;
}

.movie-short-info > button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    overflow: hidden;
}

.movie > img {
    width: 15%;
    margin: 20px;
}

.movie-info{
    width: 90%;
    margin: auto;
}

.start-img {
    margin: auto;
    align-self: center;
}

.hidden {
    display: none;
}

.empty-watchlist {
    align-self: center;
    color: grey;
}